// COLORS
$primary-color: #26a69a;
$on-surface-color: #9e9e9e;
$warn-color: red;

// INPUT STYLES
$input-label-transform: translateY(-18px) scale(0.9);
$input-label-transition: transform .2s ease-out, color .2s ease-out, -webkit-transform .2s ease-out;
$input-transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
